.mainPage{
  &Container{
    margin: 5% 5%;
    position: relative;
    &__firstBlock {
      display: grid;
      grid-template:
            "1fr 1fr"
            "1fr 1fr"
            "1fr 1fr";
      gap: 50px 50px;
      margin-bottom: 20px;
    }
    &__secondBlock {
      display: grid;
      grid-template:
            "1fr 1fr";
      gap: 50px 140px;
      margin-bottom: 20px;
      &Terms{

      }
    }
    @media screen and (max-width: 900px) {
      &__firstBlock {
        display: flex;
        flex-direction: column;
        //row-gap: 10px;
      }
      &__secondBlock {
        width: 100%;
        grid-template:
            "1fr";
        &Terms{
          //font-size: 13px!important;
          span{
            font-size: 13px!important;

          }
        }

      }
    }
  }
}