.modal{
  .btn__container{
    width:80vw;
    .btn{}
  }
  @media screen and (max-width: 900px) {
    font-size: 0.9em !important;
    h2, p{
      font-size: 0.9em !important;

    }

    .btn{
      width: 40%;
      font-size: 11px;
      line-height: 12px;
    }
  }

  }