$blueColor:#4141c9;
@mixin CommonSub {
  position: absolute;
  bottom: -24px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  left: -14px;
  font-family: Arial;
}

.subtitle {
  @include CommonSub;
  right: -12px;
  text-align: right;
  color: #4141c9;
}
.error {
  @include CommonSub;
  color: #a41f1f;
  cursor: default;
}


.helpOutlineOutlinedIcon{
  position: absolute;
  right: 0px;
  bottom: 8px;
  cursor: pointer;
  fill: #4141c9;
}

.questionContainer{
  &:hover{
   .questionBlock{
     visibility: visible;
   }
  }
  .questionBlock{
    width: 90%;
    visibility: hidden;
    padding: 10px 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 4;


  }
}